    <ul>
       <h1>Index</h1>
      <img align = middle width = "200" height = "150" src="https://images.inc.com/uploaded_files/image/1920x1080/getty_501794256_2000149020009280253_334740.jpg">
      <h1></h1>
        <button style = background-color:lightblue; onclick="window.location.href='{{ url_for('index') }}'">Go back to home </button>
      <h1></h1>
      
      {% for title in sorteddb%}
      <li><a href="/book/{{title}}">{{title}}  by {{ db[title]["author"]}}</a></li>
      {% endfor%}
    </ul>

